.App {
  text-align: center;
}


.App-main {
  display: flex;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Video {
  padding-top: 15%;
  width: 100%;
}

.App-filmInfo {
  width: 100%;
}


